* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.tensorpc-xterm-host,
.tensorpc-xterm-host .xterm {
  width: 100%;
  height: 100%;
  background-color: var(--td-terminal-bg) !important;
}

.tensorpc-xterm-host .xterm-screen,
.tensorpc-xterm-host .xterm-viewport {
  width: 100% !important;
  background-color: var(--td-terminal-bg) !important;
}

.tensorpc-xterm-host .xterm-viewport {
  overflow-y: auto !important;
}
